.navlist a{
    color: #000043;
}
.submenu{
    background-color: #b2bec3;
}
.hamburger .bar, .hamburger::after, .hamburger::before{
    background-color: #000043;
}
.is-scrolling{
    .hamburger .bar, .hamburger::after, .hamburger::before{
        background-color: #f6f7f7;
    }
}
@media(max-width: 900px){
    .navlist a{color: #f6f7f7;}
    .submenu{background-color: transparent;}
}
/* ----------------QUIZ QUESTTIONS-------------- */
.question-total{
    font-size: 2rem;
    color: #253352;
    line-height: 2.8rem;
    text-align: justify;
    text-decoration: none;
    width: 100%;
}
.dental-lists{
    padding-top: 0;
    padding-bottom: 0;
}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: white;
    overflow-x: hidden;
}
/*--------Quiz------------------*/
.main{
    min-height: 100vh;
    background: url(images/quizBg.png);
    background-size: cover;
    background-position: center;
    transition: 0.3s ease;
    overflow: hidden;
    overflow-y: scroll;
}
.main.active{
    filter: blur(15px);
}
.quizContainer{
    display: flex;
    height: 100vh;
    width: 200%;
}
.home{
    position: relative;
    left: -50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.home-content{
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.home-content h1{
    text-shadow: 0 0 10px rgba(0,0,0,0.3);
    text-align: center;
}
.home-content p{
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
}
.start-btn{
    width: 190px;
    height: 55px;
    background: #000435;
    border: 2px solid #8b8b9b;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px #000435;
    font-size: 18px;
    color: #8b8b9b;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}
.start-btn:hover{
    background-color: #2C3E53;
    box-shadow: none;
}
.popup-info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    width: 450px;
    background-color: white;
    border-radius: 6px;
    padding: 10px 25px;
    opacity: 0;
    pointer-events: none;
    transition:  0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1500000000000000000000000000000000000000000000000000;
}
.popup-info.active{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(0.9);
}
.popup-info h2{
    font-size: 50px;
    text-align: center;
    color: #2C3E53;
}
.popup-info .info{
    display: inline-block;
    color: #333;
    font-weight: 500;
    margin: 4px 0;
}
.btn-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #999;
    margin-top: 10px;
    padding: 15px 0 7px;
}
.popup-info .btn-group .info-btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 45px;
    background-color: #000435;
    border: 2px solid #000435;
    outline: none;
    border-radius: 6px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: 0.5s;
}
.popup-info .btn-group .info-btn:nth-child(1){
    background: transparent;
    color: #000435;
}
.popup-info .btn-group .info-btn:nth-child(1):hover{
    background: #000435;
    color: white;
}
.popup-info .btn-group .info-btn:nth-child(2):hover{
    background: #000410;
    border-color: #000410;
}
.quiz-section{
    position: relative;
    left: -50%;
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    height: -moz-fit-content;
    background: url(images/particles-removebg-preview.png);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: 0.8s ease-in-out ;
    transform-style: 0.25s;
}
.quiz-section.active{
    left: 0;
}
.quiz-section .quiz-box{
    position: relative;
    width:500px;
    height: fit-content;
    background: transparent;
    border: 2px solid #000435;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    opacity: 0;
    pointer-events: none;
    margin-top: 90px;
    margin-bottom: 20px;
    transform: scale(0.9);
    transition: 0.3s ease;
    transition-delay: 0s;
}
.quiz-section .quiz-box.active{
    opacity: 1;
    background: rgb(170, 172, 193,0.5);
    pointer-events: auto;
    transform: scale(1);
    transition: 1s ease;
    transition-delay: 1s;
}

.quiz-box h1{
    font-size: 32px;
    text-align: center;
    color: #f1f1f1;
    background: linear-gradient(45deg, transparent, #000435, transparent);
    border-radius: 6px;
}
.quiz-box .quiz-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 2px solid #000435;
    margin-bottom: auto;
}
.quiz-header span{
    font-size: 18px;
    font-weight: 500;
    color: #253352;
}
.quiz-header .header-score{
    background: #000435;
    border-radius: 3px;
    padding: 7px;
}
.quiz-box .question-text {
    font-size: 24px;
    font-weight: 600;
    color: #000410;
    background: rgb(170, 172, 193,0.6);
}
.option-list .option{
    width: 95%;
    padding: 12px;
    background: transparent;
    border: 2px solid rgba(37, 51, 82, 0.3);
    border-radius: 4px;
    font-size: 1.8rem;
    color:#253352;
    /* margin: auto; */
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.option-list .option:hover{
    background: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.1);
}
.option-list .option.correct{
    background: #000435;
    color: #00a63d;
    border-color: #00a63d;
}
.option-list .option.incorrect{
    background: #000435;
    color: #a60045;
    border-color: #a60045;
}
.option-list .option.disable{
    pointer-events: none;
}

.quiz-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #000435;
    padding-top: 20px;
    /* margin: auto; */
}
.question.total{
    font-size: 16px;
    font-weight: 600;
}
.quiz-footer .next-btn{
    width: 100px;
    height: 45px;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    pointer-events: none;
    transition: 0.5s;
}
.quiz-footer .next-btn.active{
    pointer-events: auto;
    background: #000435;
    border: #000435;
    color: white;
}
.quiz-footer .next-btn.active:hover{
    background: #000435;
    border-color: #000435;
    color: aliceblue;
}
.quiz-section .result-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.9);
    width: 500px;
    background: transparent;
    border: 2px solid #b02610;
    border-radius: 6px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
}
.quiz-section .result-box.active{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%,-50%) scale(1);
}

.result-box .percentage-container{
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 40px;
}
.percentage-container .circular-progress{
    position: relative;
    width: 250px;
    height: 250px;
    background: conic-gradient(#811f1c 3.6deg, rgba(176, 38, 16,0.1) 0deg);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.percentage-container .circular-progress::before{
    content: '';
    position: absolute;
    height: 210px;
    width: 210px;
    background: #ad7a76;
    border-radius: 50%;
}

.circular-progress .progress-value{
    position: relative;
    font-size: 45px;
    font-weight: 600;
}
.score-text{
    font-size: 3rem;
    font-weight: 600;
    line-height: 4rem;
    padding-bottom: 1.2rem;
    padding-top: 1.2rem;
    letter-spacing: -0.5px;
    margin-top: 20px;
    text-align: center;
}
.result-box .buttons{
    display: flex;
}

.buttons button{
    width: 130px;
    height: 47px;
    background: #040454;
    border: 2px solid #000043;
    border-radius: 6px;
    outline: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
    margin: 0 20px 20px;
    transition: 0.5s;
}
.buttons button:nth-child(1):hover{
    background: #253352;
    border: #253352;
}
.buttons button:nth-child(2){
    background: transparent;
    color: #f6f7f7;
}
.buttons button:nth-child(2):hover{
    background: #253352;
    color: white;
}


@media(max-width: 800px){
    .quiz-section .quiz-box{
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }
    .home-content p{
        padding: 0 15px;
    }
    .popup-info{
        width: 90%;
        padding: 10px 10px;
    }
    .btn-group{
        flex-direction: column;
        gap: 8px;
    }
    .quiz-section .result-box{
        width: 90%;
        padding: 20px 0;
    }
}
